.bonnereponse.green
{
    background: #aedaad !important;
}

.mauvaisereponse.red
{
    background: #daaead !important;
}

.panel-body .list-group-item {
    margin-bottom: 15px;
}

.timer {
    font-size: 2.3em;
    display: block;
    text-align: center;
    font-weight: bold;
}
